# Created by https://www.gitignore.io/api/jekyll
# Edit at https://www.gitignore.io/?templates=jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

### OSX ###
.DS_Store

### Windows ###
thumbs.db

# End of https://www.gitignore.io/api/jekyll