<header class="header-area">
    <div class="container">
        <div class="header-logo-area">
            <a href="{{- site.url -}}{{- site.baseurl -}}" class="header-logo">monthly-code</a>
            {%- if site.logo -%}
                <a href="{{- site.url -}}{{- site.baseurl -}}" class="header-logo">{{- site.logo -}}</a>
            {%- endif -%}
        </div>
        <div class="header-nav-area">
            <p class="header-nav" id="headerNav">
                <a role="button">
                    <i class="fas fa-bars"></i>
                </a>
            </p>
        </div>
    </div>
</header>