/* @import '/assets/css/open-color.css'; */

.header-area {
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    background: white; /*rgba(255, 255, 255, 0.85);*/
    opacity: 0.95;
    z-index: 100;
    /* border-bottom: 0.5px solid transparent;
    border-color: var(--oc-gray-5); */
}

.header-area > .container {
    padding: 0 8%;
}

.header-area > .container::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    border-bottom: 0.5px solid transparent;
    border-color: var(--oc-gray-3);
}

.header-area > .container > .header-logo-area {
    display: inline-block;
    
}

.header-area > .container > .header-logo-area > .header-logo {
    text-align: center;
    line-height: 70px;
    text-transform: lowercase;
    color: var(--oc-gray-9);
}

.header-area > .container > .header-logo-area > .header-logo:hover {
    color: var(--oc-teal-5);
}

.header-area > .container > .header-nav-area {

}

.main-area {
    margin-top: calc(70px + 3%);
}

.main-area > .container {
    max-width: 900px;
    margin: 0 auto;
    /* margin: auto 8%; */
}

.main-area > .container > section {
    padding: 0 3%;
}

.main-area > .container > .content-area {
    min-height: 500px;   
}

.footer-area {
    display: block;
    margin: 0 auto;
}

.footer-area > .container {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.footer-area > .container > .account-area {
    display: inline-block;
}

.footer-area > .container > .account-area > .account-items {
    list-style-type: none;
    padding: 0;
}

.footer-area > .container > .account-area > .account-items > .account-item {
    display: inline-block;
    margin: 10px;
}

.footer-area > .container > .account-area > .account-items > .account-item > a {

}

.footer-area > .container > .account-area > .account-items > .account-item > a > i {
    color: var(--oc-gray-7);
}

.footer-area > .container > .account-area > .account-items > .account-item:hover > a > i {
    color: var(--oc-teal-5);
}

.footer-area > .container > .copyright-area {
    display: inline-block;
    color: var(--oc-gray-7);
    font-size: 16px;
}