.header-area {
    width: 100%;
    position: fixed;
    top: 0;
    height: 70px;
    background: rgba(255, 255, 255, 0.85);
}

.header-area > .container {
    padding: 0 8%;
}

.header-area > .container::after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 2px;
    border-bottom: 1px solid #777;
}

.header-area > .container > .header-logo-area {
    display: inline-block;
    
}

.header-area > .container > .header-logo-area > .header-logo {
    text-align: center;
    line-height: 70px;
    text-transform: lowercase;
}

.header-area > .container > .header-nav-area {

}

.main-area {
    margin-top: calc(70px + 3%);
}

.main-area > .container {
    max-width: 900px;
    margin: auto 8%;
}

.main-area > .container > section {
    padding: 0 3%;
}

.footer-area {
    
}

.footer-area > .container {
    max-width: 900px;
    margin: auto 8%;
}

.footer-area > .container > .account-area {
    display: inline-block;
}

.footer-area > .container > .account-area > .account-items {
    list-style-type: none;
}

.footer-area > .container > .account-area > .account-items > .account-item {
    display: inline-block;
    margin: 10px;
}

.footer-area > .container > .account-area > .account-items > .account-item > a {

}

.footer-area > .container > .account-area > .account-items > .account-item > a > i {
    color: #777;
}

.footer-area > .container > .copyright-area {
    display: inline-block;
    color: #777;
    font-size: 16px;
}