/* @import '/assets/css/open-color.css'; */

.home-area {

}

.home-area > .home-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.home-area > .home-items > .home-item {
    margin: auto 5%;
    border-bottom: 1px solid transparent;
    border-color: var(--oc-gray-4);
}

.home-area > .home-items > .home-item:last-child {
    border: none;
}

.home-area > .home-items > .home-item:hover {
    background: var(--oc-gray-1);
    border: 1px solid transparent;
    border-color: var(--oc-gray-1);
}

.home-area > .home-items > .home-item > .home-collection-label {
    color: var(--oc-gray-9);
}

.home-area > .home-empty {
    display: block;
    margin: 0 auto;
    color: var(--oc-gray-7);
    text-align: center;
    font-size: 32px;
}