.home-area {

}

.home-area > .home-items {
    list-style-type: none;
    padding: 0;
}

.home-area > .home-items > .home-item {
    margin: 3% 5%;
    border-bottom: 1px solid #aaa;
}

.home-area > .home-items > .home-item > .home-collection-label {
    color: #3f3f3f;
}