.search-result-area {
    z-index: 11;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.search-result-area.hide {
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

.search-result-area.show {
    transform: translateX(0);
    transition: all .3s ease-in-out;
}

.search-result-area > .container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0px;
}

.search-result-area > .container > .result-area {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
    direction: ltr;
    font-size: 16px;
    background: rgba(221, 221, 221, 1);
}

.search-result-area > .container > .result-area ul {
    list-style-type: none;
}

.search-result-area > .container > .result-area li {
    padding: 5% 3%;
    border-bottom: 1px solid #aaa;
}

.search-result-area > .container > .result-area li:last-child {
    border: none;
}

.search-result-area > .container > .search-empty-area {
    display: inline-block;
    position: absolute;
    min-height: 100%;
    left: 350px;
    right: 0;
    overflow: hidden;
    background: rgba(31, 31, 31, 0.9);
}

.search-result-area > .search-extend-area {
    display: inline-block;
    position: fixed;
    width: 20px;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -10px;
    font-size: 16px;
}

.search-result-area > .search-extend-area > .search-extend {
    display: block;
    cursor: pointer;
}

.search-result-area > .search-close-area {
    display: inline-block;
    position: fixed;
    width: 20px;
    left: 370px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    font-size: 16px;
}

.search-result-area > .search-close-area > .search-close {
    display: block;
    cursor: pointer;
}

