.search-result-area {
    z-index: 11;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.search-result-area.hide {
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

.search-result-area.show {
    transform: translateX(0);
    transition: all .3s ease-in-out;
}

.search-result-area > .container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0px;
    margin-top: 80px;
}

.search-result-area > .container > .result-area {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
    direction: ltr;
    font-size: 16px;
    background: var(--oc-gray-3);
    transition: all .3s ease-in-out;
}

.search-result-area.show.extend > .container > .result-area {
    width: 90%;
    transition: all .3s ease-in-out;
    padding-left: 10px;
}

.search-result-area > .container > .result-area > h3 {
    color: var(--oc-gray-5);
    margin: 0 auto;
    text-align: center;
}

.search-result-area > .container > .result-area > .search-items {
    list-style-type: none;
    padding: 0 40px;
}

.search-result-area > .container > .result-area > .search-items > .search-item {
    padding: 5% 3%;
    border-bottom: 1px solid transparent;
    border-color: var(--oc-gray-4);
}

.search-result-area > .container > .result-area > .search-items > .search-item:last-child {
    border: none;
}

.search-result-area > .container > .result-area > .search-items > .search-item > a > p {
    color: var(--oc-gray-7);
}

.search-result-area > .container > .result-area > .search-items > .search-item:hover > a > p {
    color: var(--oc-teal-5);
}

.search-result-area > .container > .search-empty-area {
    display: inline-block;
    position: absolute;
    min-height: 100%;
    left: 350px;
    right: 0;
    overflow: hidden;
    background: var(--oc-gray-9);
    opacity: 0.95;
}

.search-result-area.show.extend > .container > .search-empty-area {
    left: 90%;
    width: 10%;
    transition: all .3s ease-in-out;
}

.search-result-area > .search-extend-area {
    /* display: inline-block; */
    display: none;
    position: fixed;
    width: 24px;
    height: 24px;
    left: calc(350px - 24px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all .15s ease-in-out;
}

.search-result-area.show.extend > .search-extend-area {
    left: calc(90% - 24px);
    transition: all .3s ease-in-out;
}

.search-result-area > .search-extend-area > .search-extend {
    display: block;
    cursor: pointer;
    text-align: center;
}

.search-result-area > .search-extend-area > .search-extend > i {
    color: var(--oc-gray-9);
}

.search-result-area > .search-close-area {
    /* display: inline-block; */
    display: none;
    position: fixed;
    width: 24px;
    height: 24px;
    left: 350px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    transition: all .15s ease-in-out;
}

.search-result-area.show.extend > .search-close-area {
    left: 90%;
    transition: all .3s ease-in-out;
}

.search-result-area > .search-close-area > .search-close {
    display: block;
    cursor: pointer;
    text-align: center;
}

.search-result-area > .search-close-area > .search-close > i {
    color: var(--oc-gray-0);
}

