.search-result-area {
    z-index: 11;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
}

.search-result-area.hide {
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
}

.search-result-area.show {
    transform: translateX(0);
    transition: all .3s ease-in-out;
}

.search-result-area > .container {
    display: inline-block;
    min-width: 350px;
    font-size: 0px;
    padding: 10px;
    background: rgba(221, 221, 221, 0.9);
}

.search-result-area > .container > .result-area {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    direction: ltr;
    font-size: 16px;
}

.search-result-area > .container > .result-area ul {
    list-style-type: none;
}

.search-result-area > .container > .result-area li {
    
    padding: 5% 3%;
    border-bottom: 1px solid #aaa;
}

.search-result-area > .container > .result-area li:last-child {
    border: none;
}

.search-result-area > .container > .search-extend-area {
    display: none;
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -8px;
    font-size: 16px;
    overflow-y: unset;
}

.search-result-area > .container > .search-extend-area > .search-extend {
    display: block;
    cursor: pointer;
}

.search-result-area > .search-close-area {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 12px;
    margin-left: 12px;
    font-size: 16px;
}

.search-result-area > .search-close-area > .search-close {
    display: block;
    cursor: pointer;
}