.toc-area {
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16%;
    max-width: 250px;
    transition: all 0.5s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.toc-area > .container {
    margin-left: 25px;
}

.toc-area > .container > .toc-items {
    list-style-type: none;
    padding: 0;
}

.toc-area > .container > .toc-items > .toc-item {
    margin: 5px 0px;
    cursor: pointer;
    color: var(--oc-gray-5);
}

.toc-area > .container > .toc-items > .toc-item.highlight {
    color: var(--oc-gray-9);
}

.toc-area > .container > .toc-items > .toc-item:hover {
    color: var(--oc-teal-5);
}

.toc-area > .container > .toc-items > .toc-item.toc-title {
    font-weight: bold;
}

.toc-area > .container > .toc-items > .toc-item > .toc-indicator {
    display: inline-block;
    height: 5px;
    border-radius: 3px;
    background: var(--oc-gray-5);
    vertical-align: middle;
    margin-right: 10px;
}

.toc-area > .container > .toc-items > .toc-item.highlight > .toc-indicator {
    background: var(--oc-gray-9);
}

.toc-area > .container > .toc-items > .toc-item:hover > .toc-indicator {
    background: var(--oc-teal-5);
}

.toc-area > .container > .toc-items > .toc-item.toc-h1 > .toc-indicator {
    width: 25px;
}

.toc-area > .container > .toc-items > .toc-item.toc-h2 > .toc-indicator {
    width: 15px;
}

.toc-area > .container > .toc-items > .toc-item.toc-h3 > .toc-indicator {
    width: 10px;
}

.toc-area > .container > .toc-items > .toc-item > .toc-text {
    display: inline-block;
    font-size: 15px;
}

@media(max-width: 999px) {
    .toc-area {
        position: relative;
        transition: all 0.5s;
        max-width: 100%;
        top: 0;
        transform: none;
    }

    .toc-area > .container {
        margin-left: 0;
    }
}

@media(min-width: 1000px) and (max-width: 1299px) {
    .toc-area > .container > .toc-items > .toc-item > .toc-text {
        font-size: 0;
    }
}