.toc-area {
    display: block;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media(max-width: 1000px) {
    .toc-area {
        display: none;
    }
}

@media(max-width: 1200px) {
    .toc-area {
        opacity: 0.4;
    }
}

.toc-area > .container {
    margin-left: 25px;
}

.toc-area > .container > .toc-items {
    list-style-type: none;
}

.toc-area > .container > .toc-items > .toc-item {
    margin: 5px 0px;
    cursor: pointer;
    color: var(--oc-gray-3);
}

.toc-area > .container > .toc-items > .toc-item:hover {
    color: var(--oc-yellow-3);
}

.toc-area > .container > .toc-items > .toc-item.highlight {
    color: var(--oc-gray-9);
}

.toc-area > .container > .toc-items > .toc-item.toc-title {
    font-weight: bold;
}

.toc-area > .container > .toc-items > .toc-item.toc-h1 {
    
}

.toc-area > .container > .toc-items > .toc-item::before {
    content:"";
    display: block;
    width: 10px;
    height: 2px;
    left: 0;
    top: 0;
    background: var(--oc-gray-3);
    border-radius: 3px;
}

.toc-area > .container > .toc-items > .toc-item.toc-h2 {
    margin-left: 10px;
}

.toc-area > .container > .toc-items > .toc-item.toc-h3 {
    margin-left: 25px;
}