{%- assign collection_items = include.collection -%}
{%- assign collection_size = include.collection | size -%}
{%- include paginator/data.html size=collection_size -%}
<div class="collection-area">
    {%- if collection_size > 0 -%}
    {%- for i in (1..paginator_size) -%}
        {%- assign collection_begin = i | minus: 1 | tiems: site.pagiantor.size -%}
        {%- assign collection_end = site.paginator.size | tiems: i -%}
        {%- assign collection_part = collection_items | slice: collection_begin,collection_end -%}
        <ul class="collection-items" id="{{- i | prepend: 'collection' -}}">
            {%- include collection/items.html parts=collection_part -%}
        </ul>
    {%- endfor -%}
    {%- else -%}
        <div class="collection-empty">
            See you soon!
        </div>
    {%- endif -%}
</div>

{%- include paginator/main.html size=collection_size -%}