{%- include collection/data.html label=include.label -%}
{%- include paginator/data.html size=collection_size -%}

<div class="collection-area">
    {%- if collection_size > 0 -%}
    {%- for i in (1..paginator_size) -%}
        {%- assign collection_begin = i | minus: 1 | times: site.paginator.size -%}
        {%- assign collection_end = site.paginator.size | times: i -%}
        {%- assign collection_part = collection_items | slice: collection_begin,collection_end -%}
        {%- include collection/items.html items=collection_part label=include.label -%}
    {%- endfor -%}
    {%- else -%}
        <div class="collection-empty">
            See you soon!
        </div>
    {%- endif -%}
</div>

{%- include paginator/main.html size=collection_size -%}