<!DOCTYPE html>
<html lang="ko">
<head>
    {%- include base/head.html -%}
</head>
<body>
    {%- include base/header.html -%}
    {%- include base/fullnav.html -%}
    <main class="main-area">
        <div class="container">
            {{- content -}}
        </div>
    </main>
    {%- if site.search -%}
        {%- include addon/search/result.html -%}
    {%- endif -%}
    {%- include addon/fab/main.html -%}
    {%- include base/footer.html -%}
    <!-- <script src="/assets/js/main.js"></script> -->
</body>
</html>